<!DOCTYPE html>
<html>
<head>
    <!-- The callback parameter is required, so we use console.debug as a noop -->
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwvxpRK9Uqeb0w9zG5N8aBeYkLkFQQfBI&callback=console.debug&libraries=maps,marker&v=beta">
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <style>
        /* Always set the map height explicitly to define the size of the div
               * element that contains the map. */
        gmp-map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <gmp-map center="-16.69544219970703,-49.265480041503906" zoom="14" map-id="DEMO_MAP_ID">
        <gmp-advanced-marker position="-16.69544219970703,-49.265480041503906" title="My location">
        </gmp-advanced-marker>
    </gmp-map>
</body>
</html>