@model Produtor

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Produtor</h4>
                <form asp-action="Create" method="post">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6" style="margin-top: 40px;">
                                <label asp-for="Nome" class="control-label"></label>
                                <input asp-for="Nome" class="form-control" />
                                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "error-message" })
                            </div>
                            <div class="col-md-6" style="margin-top: 40px;">
                                <label asp-for="Cpf" class="control-label"></label>
                                <input asp-for="Cpf" class="form-control" />
                                @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "error-message" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="margin-top: 10px;">
                        <label asp-for="Industria" class="control-label"></label>
                        <input class="form-control" value="@User.Identity.GetIndustria()" disabled />
                        @Html.ValidationMessageFor(model => model.Industria, "", new { @class = "error-message" })
                    </div>
                    <div class="form-group" style="margin-top: 40px;">
                        <a type="submit" href="/Produtores/Index" class="btn btn-secondary">Voltar</a>
                    </div>
                    <div style="float: right; margin-top: -40px;">
                        <button type="submit" class="btn btn-primary gradient-button">
                            <i class="bi bi-check-circle-fill"></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                            </svg>
                            Cadastrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


