@page
@model AccessDeniedModel

@{
    <link rel="stylesheet" type="text/css" href="style.css">

    <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
    </svg>

    <div class="lock"></div>
    <div class="message">
        <h1>Acesso restrito</h1>
        <h5>Você não tem permissão para acessar essa página</h5>
    </div>
}
