@using GeotecnologiaKNS.Views
@{
    ViewData["Title"] = "Home Page";

    var _solicitacoesRecentes = repository.GetRecentsSolicitacoes();

    var solicitados = _solicitacoesRecentes.Count(s => s.Status == Status.Solicitado);
    var liberados = _solicitacoesRecentes.Count(s => s.Status == Status.Liberado);
    var alerta = _solicitacoesRecentes.Count(s => s.Status == Status.Alerta);
    var bloqueados = _solicitacoesRecentes.Count(s => s.Status == Status.Bloqueado);
}

@inject ISolicitacaoRepository repository

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
                <div class="me-md-3 me-xl-5">
                    <h2>Bem vindo</h2>
                    <p class="mb-md-0">Seu dashboard e analytics.</p>
                </div>
                <div class="d-flex">
                    <i class="mdi mdi-home text-muted hover-cursor"></i>
                    <p class="text-muted mb-0 hover-cursor">&nbsp;/&nbsp;Dashboard&nbsp;/&nbsp;</p>
                    <p class="text-primary mb-0 hover-cursor">Analytics</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <partial name="_map"></partial>
        </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <h4 class="card-title">Solicitações</h4>
                <canvas id="barChart" style="display: block; width: 743px; height: 371px;" width="743" height="371" class="chartjs-render-monitor"></canvas>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Solicitações Recentes</p>
                <div class="table">
                    <div id="recent-purchases-listing_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="recent-purchases-listing" class="table dataTable no-footer" role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" aria-label="Propriedade: clique para ordenar descendente">Propriedade</th>
                                            <th class="sorting" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" aria-label="Data da Solicitação: clique para ordenar descendente">Data da Solicitação</th>
                                            <th class="sorting" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" aria-label="Data da Análise: clique para ordenar descendente">Data da Análise</th>
                                            <th class="sorting" tabindex="0" aria-controls="recent-purchases-listing" rowspan="1" colspan="1" aria-label="Status: clique para ordenar descendente">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in _solicitacoesRecentes)
                                        {
                                            <tr role="row" class="odd">
                                                <td>@Html.DisplayFor(x => item.Propriedade.NomePropriedade)</td>
                                                <td>@Html.DisplayFor(x => item.DataSolicitacao)</td>
                                                <td>@Html.DisplayFor(x => item.DataAnalise)</td>
                                                <td>@Html.DisplayStatusFor(x => item.Status)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div><div class="row"><div class="col-sm-12 col-md-5"></div><div class="col-sm-12 col-md-7"></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">

        var data = {
            labels: ["Bloqueado", "Solicitado", "Alerta", "Liberados"],
            datasets: [{
                label: '# Quantidade',
                data: [@solicitados, @liberados, @alerta, @bloqueados],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',

                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',

                ],
                borderWidth: 1,
                fill: false
            }]
        };

        var options = {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
            legend: {
                display: false
            },
            elements: {
                point: {
                    radius: 0
                }
            }

        };

        var barChartCanvas = $("#barChart").get(0).getContext("2d");
        // This will get the first returned node in the jQuery collection.
        var barChart = new Chart(barChartCanvas, {
            type: 'bar',
            data: data,
            options: options
        });
    </script>
}