@model GeotecnologiaKNS.Models.Solicitacao

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Solicitação</h4>
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="PropriedadeId" class="control-label"></label>
                        <select asp-for="PropriedadeId" class="form-control form-control-sm" asp-items="ViewBag.PropriedadeId" data-target="#PropriedadeId" data-mode="edit"></select>
                        <span asp-validation-for="PropriedadeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Analista" class="control-label"></label>
                        <input asp-for="Analista" class="form-control" />
                        <span asp-validation-for="Analista" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Solicitante" class="control-label"></label>
                        <input asp-for="Solicitante" class="form-control" />
                        <span asp-validation-for="Solicitante" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DataSolicitacao" class="control-label"></label>
                        <input asp-for="DataSolicitacao" class="form-control" />
                        <span asp-validation-for="DataSolicitacao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DataAnalise" class="control-label"></label>
                        <input asp-for="DataAnalise" class="form-control" />
                        <span asp-validation-for="DataAnalise" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Observacao" class="control-label"></label>
                        <input asp-for="Observacao" class="form-control" />
                        <span asp-validation-for="Observacao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <select asp-for="Status" class="form-control form-control-sm" asp-items="ViewBag.Status"></select>
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Parecer" class="control-label"></label>
                        <textarea asp-for="Parecer" class="form-control" rows="4"></textarea>
                        <span asp-validation-for="Parecer" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="margin-top: 40px;">
                        <a asp-action="Analise" class="btn btn-secondary">Voltar</a>
                    </div>

                    <div style="float: right; margin-top: -40px;">
                        <button type="submit" class="btn btn-primary gradient-button">
                            <i class="bi bi-check-circle-fill"></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                            </svg>
                            Confirmar análise
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="analise-tab" data-bs-toggle="tab" data-bs-target="#analise" type="button" role="tab" aria-controls="analise" aria-selected="false">Inserir documentos da análise</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">

                    <div class="tab-pane fade show active" id="analise" role="tabpanel" aria-labelledby="analise-tab">
                        <partial name="_file-list-Analise" model="Model"></partial>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
