@model GeotecnologiaKNS.Models.Solicitacao
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Solicitacao</h4>
                <div class="row">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="PropriedadeId" class="control-label"></label>
                            <select asp-for="PropriedadeId" class="form-control form-control-sm" asp-items="ViewBag.PropriedadeId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Solicitante" class="control-label"></label>
                            <input asp-for="Solicitante" class="form-control" value="@User.Identity?.Name" />
                            <span asp-validation-for="Solicitante" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DataSolicitacao" class="control-label"></label>
                            <input asp-for="DataSolicitacao" class="form-control" />
                            <span asp-validation-for="DataSolicitacao" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Observacao" class="control-label"></label>
                            <input asp-for="Observacao" class="form-control" />
                            <span asp-validation-for="Observacao" class="text-danger"></span>
                        </div>

                        <div class="row">
                            <div class="col-md-6 text-start">
                                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                            </div>
                            <div class="col-md-6 text-end">
                                <button type="submit" class="btn btn-primary gradient-button">
                                    <i class="bi bi-check-circle-fill"></i>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                    </svg>
                                    Cadastrar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
