@using System.Security.Claims

@{
    Layout = null;
}

@model List<IdentityUserClaim<string>>

<div class="table-responsive pt-3">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Claim Type
                </th>
                <th>
                    Claim Value
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var claim in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => claim.ClaimType)
                    </td>
                    <td>
                        @Html.DisplayFor(model => claim.ClaimValue)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

