@model PermissionsModel;

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Permissões</h4>
                <form>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group select-with-icon">
                        <label asp-for="Industria" class="control-label"></label>
                        <div class="select-wrapper">
                            <select asp-for="Industria" asp-items="@Model.Industrias" class="form-control form-control-sm" onchange="displayUsers($(this).val())">
                            </select>
                            <span asp-validation-for="Industria" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group select-with-icon">
                        <label asp-for="User" class="control-label"></label>
                        <div class="select-wrapper">
                            <select asp-for="User" class="form-control form-control-sm" id="usersDropdown" disabled onchange="displayFeatures($(this).val())"></select>
                            <span asp-validation-for="User" class="text-danger"></span>
                        </div>
                    </div>

                    <div id="edit-claims" class="form-group select-with-icon">
                    </div>

                    <div class="row">
                        <div class="col-md-6 text-start">
                            <a type="submit" href="/Propriedades/Index" class="btn btn-secondary">Voltar</a>
                        </div>
                        <div class="col-md-6 text-end">
                            <button type="submit" class="btn btn-primary gradient-button">
                                <i class="bi bi-check-circle-fill"></i>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                </svg>
                                Cadastrar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/permissions/index.js"></script>
