@model CartografiaArquivo

@{
    var tiposCartograficos = new Dictionary<string, string>
    {
        ["SUC"] = "Sobrep. Unidade de Conservação",
        ["STI"] = "Sobrep. Terra Indígena",
        ["SQ"] = "Sobrep. Quilombolas",
        ["SOP"] = "Sobrep. Outros Perímetros",
        ["SEI"] = "Sobrep. Embargo IBAMA",
        ["DAEI"] = "Distância Área Embargada IBAMA",
        ["DETER"] = "DETER",
        ["IP"] = "Incapacidade Produtiva",
        ["LB"] = "Localização Bioma",
        ["UPC"] = "Unidade Produtiva Contínua",
        ["PA"] = "Perímetro Adulterado",
        ["OE"] = "Outras Evidências",
        ["IP7"] = "Imagem PRODES 2007",
        ["IP8"] = "Imagem PRODES 2008",
        ["IP9"] = "Imagem PRODES 2009",
        ["IP10"] = "Imagem PRODES 2010",
        ["IP11"] = "Imagem PRODES 2011",
        ["IP12"] = "Imagem PRODES 2012",
        ["IP13"] = "Imagem PRODES 2013",
        ["IP14"] = "Imagem PRODES 2014",
        ["IP15"] = "Imagem PRODES 2015",
        ["IP16"] = "Imagem PRODES 2016",
        ["IP17"] = "Imagem PRODES 2017",
        ["IP18"] = "Imagem PRODES 2018",
        ["IP19"] = "Imagem PRODES 2019",
        ["IP20"] = "Imagem PRODES 2020",
        ["ZI"] = "Zona de influência",
        ["MF"] = "Mapa fundiário",
        ["UC"] = "Uso do solo e cobertura"
    };
}

<div class="form-group select-with-icon">
    <h4 class="card-title">Tipo Cartográfico</h4>

    <div class="select-wrapper">
        <select asp-for="Tipo" class="form-control form-control-sm">
            <option value="">Selecione...</option>
            @foreach (var tipo in tiposCartograficos)
            {
                <option value="@tipo.Key">@tipo.Value</option>
            }
        </select>
    </div>

    <span asp-validation-for="Tipo" class="text-danger"></span>
</div>

<h4 class="card-title">Envio de arquivo</h4>

<div class="form-group">
    <span class="text-danger field-validation-error" data-valmsg-for="file-upload" data-valmsg-replace="true">
        <span id="file-upload-error"></span>
    </span>

    <input type="file" class="file-upload-default" onchange="setfilename($(this))" />

    <div class="input-group col-xs-12">
        <input type="text"
               class="file-upload-browse form-control file-upload-info"
               placeholder="Selecione seu arquivo..."
               onclick="selectfile($(this))" />

        <span class="input-group-append">
            <button class="btn btn-danger"
                    type="button"
                    onclick="uploadCartografiafile(@Model.VinculoId, $('#Tipo').val())">
                <i class="mdi mdi-upload btn-icon-prepend"></i>
                Upload
            </button>
        </span>
    </div>
</div>