@model GeotecnologiaKNS.Models.Cartografia

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Propriedade</h4>
                <h2 class="text-dark" style="font-size: 19px;">
                    Você tem certeza que deseja deletar esse cadastro permanentemente?
                </h2>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="d-flex justify-content-between align-items-center">
                        <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-secondary">
                            Voltar
                        </a>

                        <button type="submit" class="btn btn-danger">
                            <i class="bi bi-trash3-fill"></i>
                            Deletar
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>