@model GeotecnologiaKNS.Models.Cartografia

@{
    ViewData["Title"] = "Editar cartografia";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Cartografias</h4>

                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="PropriedadeId" />

                    <div class="form-group">
                        <label asp-for="PropriedadeId" class="control-label"></label>
                        <select asp-for="PropriedadeId"
                                class="form-control form-control-sm"
                                asp-items="ViewBag.Propriedades"
                                data-target="#Propriedades"
                                data-mode="edit"
                                disabled>
                        </select>
                        <span asp-validation-for="PropriedadeId" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-between mt-4">
                        <a asp-action="Index" class="btn btn-secondary">Voltar</a>

                        <button type="submit" class="btn btn-primary gradient-button">
                            <i class="bi bi-check-circle-fill"></i>
                            Salvar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active"
                                id="analise-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#analise"
                                type="button"
                                role="tab"
                                aria-controls="analise"
                                aria-selected="true">
                            Inserir arquivos cartográficos
                        </button>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active"
                         id="analise"
                         role="tabpanel"
                         aria-labelledby="analise-tab">
                        <partial name="_file-listCart" model="Model" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}