@model GeotecnologiaKNS.Models.Propriedade

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Propriedade</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomePropriedade" class="control-label"></label>
                <input asp-for="NomePropriedade" class="form-control" />
                <span asp-validation-for="NomePropriedade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPropriedade" class="control-label"></label>
                <input asp-for="TipoPropriedade" class="form-control" />
                <span asp-validation-for="TipoPropriedade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CicloProducao" class="control-label"></label>
                <input asp-for="CicloProducao" class="form-control" />
                <span asp-validation-for="CicloProducao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaUtil" class="control-label"></label>
                <input asp-for="AreaUtil" class="form-control" />
                <span asp-validation-for="AreaUtil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
                <span asp-validation-for="Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
                <span asp-validation-for="Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrigemCoordenadas" class="control-label"></label>
                <input asp-for="OrigemCoordenadas" class="form-control" />
                <span asp-validation-for="OrigemCoordenadas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bioma" class="control-label"></label>
                <input asp-for="Bioma" class="form-control" />
                <span asp-validation-for="Bioma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnidadeFederativa" class="control-label"></label>
                <select asp-for="UnidadeFederativa" class="form-control" asp-items="UnidadesFederativasExtension.GetUnidadesFederativas()" onchange="populateCities(this.value)"></select>
                <span asp-validation-for="UnidadeFederativa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Municipio" class="control-label"></label>
                <input asp-for="Municipio" class="form-control" />
                <span asp-validation-for="Municipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Industria" class="control-label"></label>
                <input asp-for="Industria" class="form-control" />
                <span asp-validation-for="Industria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoCadastroRural" class="control-label"></label>
                <input asp-for="TipoCadastroRural" class="form-control" />
                <span asp-validation-for="TipoCadastroRural" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Matricula" class="control-label"></label>
                <input asp-for="Matricula" class="form-control" />
                <span asp-validation-for="Matricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CadastroAmbientalRural" class="control-label"></label>
                <input asp-for="CadastroAmbientalRural" class="form-control" />
                <span asp-validation-for="CadastroAmbientalRural" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicencaAmbiental" class="control-label"></label>
                <input asp-for="LicencaAmbiental" class="form-control" />
                <span asp-validation-for="LicencaAmbiental" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ccir" class="control-label"></label>
                <input asp-for="Ccir" class="form-control" />
                <span asp-validation-for="Ccir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Incra" class="control-label"></label>
                <input asp-for="Incra" class="form-control" />
                <span asp-validation-for="Incra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Outros" class="control-label"></label>
                <input asp-for="Outros" class="form-control" />
                <span asp-validation-for="Outros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
