html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0rem white, 0 0 0 0rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: #00b1ff
}

.login {
    border: 2px solid #258cfb;
    padding: 40px;
    width: 400px;
    height: 500px;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 90px;
}

    .login h1 {
        margin-top: 20px;
        text-align: center;
        margin-bottom: 90px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }

.input-sigle {
    position: relative;
    margin: 20px 0;
}

input-single label {
    position: absolute;
    left: 0;
    bottom: 5px;
}

.input {
    width: 100%;
    border: 2px;
    border-bottom: 2px;
}

.btn-primary {
    background-color: navy;
    color: white;
}

.button-container {
    text-align: center;
    margin-top: 20px;
    position: center
}

.text-danger {
    margin-top: 10px;
    position: absolute;
    top: 38%; /* Ajuste conforme necessário para posicionar verticalmente */
    left: 43%; /* Ajuste conforme necessário para posicionar horizontalmente */
    transform: translate(-50%, -50%);
    z-index: 999; /* Certifique-se de que a camada z-index seja maior que o conteúdo abaixo */
    padding: 10px; /* Ajuste conforme necessário */
    border-radius: 5px;
    overflow: hidden;
    
}

.hide-navbar .navbar {
    display: none;
}

.gradient-button {
    background-image: linear-gradient(to right, #07dbf6bb, #07dbf6bb);
}

.th {
    color: #00b1ff
}
/* site.css */

.error-message {
    color: red;
}

.custom-select {
    position: relative;
    display: -moz-inline-box;
}

    .custom-select select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        cursor: pointer;
    }

    .custom-select::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0.75rem;
        width: 8px;
        height: 8px;
        transform: translateY(-50%);
        border-width: 0 2px 2px 0;
        border-style: solid;
        border-color: #000;
        transition: all 0.3s ease-in-out;
        pointer-events: none;
    }

    .custom-select select:focus + .custom-select::after {
        transform: translateY(-50%) rotate(45deg);
    }

    .custom-select select[disabled] {
        cursor: not-allowed;
    }

        .custom-select select[disabled] + .custom-select::after {
            border-color: #aaa;
        }

body {
    margin: 0; /* Remova as margens padrão do corpo */
    padding: 0; /* Remova o padding padrão do corpo */
}

.conteudo-superior {
    margin-bottom: 35px; /* Adicionando espaçamento entre o conteúdo superior e as guias */
}

.tabs {
    margin-top: 40px; /* Adicionando margem no topo da div das guias */
}

.tabs__sidebar {
    display: flex;
}
.tabs__button span {
    display: block;
    transform: skewX(20deg);
}
.tabs__button {
    background-color: #e9e9e9bb;
    color: #808080;
    border: none;
    padding: 6px 25px;
    font-size: 17px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: normal;
    border-radius: 6px;
    transform: skewX(-20deg);
    width: 150px;
}
        .tabs__button::before {
            content: "";
            position: absolute;
            bottom: 0px; /* Define a posição da margem na base do botão */
            left: 5px; /* Define a posição da margem em relação à margem esquerda do botão */
            width: 990px; /* Define a largura da margem */
            height: 1px; /* Define a altura da margem */
            background-color: #00b1ffbb; /* Cor azul da margem */
            border-radius: 8px;
        }

    .tabs__button.active {
        background-color: #00b1ffbb;
        color: #fff; /* Cor do texto quando a guia está selecionada ou ao passar o mouse */
        font-weight: bold;
    }

    .tabs__button:hover {
        background-color: #00b1ffbb;
        color: #fff; /* Cor do texto quando a guia está selecionada ou ao passar o mouse */
    }

.tabs__content {
    display: none;
}

    .tabs__content.active {
        display: block; /* Exibe o conteúdo da guia selecionada */
    }

.select-wrapper {
    position: relative;
}

    .select-wrapper select {
        padding-right: 30px;
    }

    .select-wrapper .arrow-down {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

.select-with-icon .arrow-down {
    color: #000; /* Cor da seta, ajuste conforme desejado */
}
tr:nth-child(even) {
    background-color: #f2f2f2; /* Cor para as linhas pares */
}

/* Estilo para as linhas ímpares */
tr:nth-child(odd) {
    background-color: #ffffff; /* Cor para as linhas ímpares */
}
.dark-row {
    background-color: #f2f2f2; /* Cor escura desejada */
    color: white; /* Cor do texto para melhor contraste */
}

/* Estilo para o efeito hover */
tr:hover {
    background-color: #f2f2f2; /* Mesma cor escura para o fundo */
    color: black; /* Cor do texto para melhor contraste */
    cursor: pointer; /* O cursor se torna uma mão para indicar que é clicável */
}

/* Estilo para alternar entre as linhas claras e escuras */
tr:nth-child(even) {
    background-color: #f2f2f2; /* Cor clara desejada */
}

/* Para garantir que as linhas escuras não sejam afetadas pelo estilo da alternância */
tr.dark-row:nth-child(even) {
    background-color: #f2f2f2; /* Cor escura */
}
/* Classe para estilizar o botão com o ícone */
.btn-with-icon {
    position: relative;
    padding-left: 24px; /* Espaço para o ícone */
}

    /* Estilo do ícone */
    .btn-with-icon:before {
        content: "";
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0iY3VycmVudENvbG9yIiAvPjxwYXRoIGQ9Ik0xMSAxdjFoMy41YS41LjUgMCAwIDAtLjUgMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=");
        background-repeat: no-repeat;
        background-size: 16px 16px;
        position: absolute;
        top: 50%;
        left: 4px; /* Espaço entre o ícone e a borda do botão */
        transform: translateY(-50%);
    }
/* Estilos para o footer */
footer {
    border-top: 1px solid #ccc; /* Linha superior com cor cinza */
    background-color: #f9f9f9; /* Cor de fundo do footer */
    padding: 5px 0; /* Espaçamento interno (10px na parte superior e inferior, 0 nos lados) */
    text-align: center; /* Centralizar o texto no footer */
    color: #888; /* Cor do texto (cinza claro) */
    height: 10px; /* Altura da barra */
}

    /* Estilos para o link no footer */
    footer a {
        color: #888; /* Cor do link (cinza claro) */
        text-decoration: none; /* Remover sublinhado do link */
    }

        footer a:hover {
            text-decoration: underline; /* Adicionar sublinhado no link ao passar o mouse */
        }







