html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0rem white, 0 0 0 0rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    color: #00b1ff
}
.login {
    border: 2px solid #258cfb;
    padding: 40px;
    width: 400px;
    height: 500px;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 90px;
    
}
.login h1 {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 90px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.input-sigle{
    position: relative;
    margin:20px 0;
}
input-single label{
    position: absolute;
    left: 0;
    bottom: 5px;
}
.input{
    width: 100%;
    border: 2px;
    border-bottom: 2px;
}

.btn-primary {
    background-color: navy;
    color: white;
     
}
.button-container {
    text-align: center;
    margin-top: 20px;
    position:center
}
.text-danger {
    margin-top: 10px;
    position: absolute;
    top: 38%; /* Ajuste conforme necessário para posicionar verticalmente */
    left: 43%; /* Ajuste conforme necessário para posicionar horizontalmente */
    transform: translate(-50%, -50%);
    z-index: 999; /* Certifique-se de que a camada z-index seja maior que o conteúdo abaixo */
    padding: 10px; /* Ajuste conforme necessário */
    border-radius: 5px;
    overflow: hidden;
}
.hide-navbar .navbar {
    display: none;
}
.gradient-button {
    background-image: linear-gradient(to right, #07dbf6bb, #07dbf6bb);
}
.th {
    color: #00b1ff
}
/* site.css */

.error-message {
    color: red;
}
.custom-select {
    position: relative;
    display: -moz-inline-box;
 
}

    .custom-select select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        cursor: pointer;
    }

    .custom-select::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0.75rem;
        width: 8px;
        height: 8px;
        transform: translateY(-50%);
        border-width: 0 2px 2px 0;
        border-style: solid;
        border-color: #000;
        transition: all 0.3s ease-in-out;
        pointer-events: none;
    }

    .custom-select select:focus + .custom-select::after {
        transform: translateY(-50%) rotate(45deg);
    }

    .custom-select select[disabled] {
        cursor: not-allowed;
    }

        .custom-select select[disabled] + .custom-select::after {
            border-color: #aaa;
        }
